asgiref==3.8.1
bleach==6.2.0
Django==4.2.16
django-summernote==0.8.20.0
gunicorn==23.0.0
packaging==24.2
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
webencodings==0.5.1
whitenoise==6.8.2
