{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">


{% block content %}

<body class="service-details-page">

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <ul class="nav nav-tabs row  g-2 d-flex" data-aos="fade-up" data-aos-delay="100" role="tablist">
                {% for service in services %}
                <div class="nav-item" role="presentation">
                  <!-- data-bs-target="#features-tab-{{service.id}}" -->
                  <!-- {%if service.id.first %} class="nav-link active show" {%else%} class="nav-link" {%endif%}-->
                  {% if service == services.first %}
                  <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-{{service.id}}"
                    aria-selected="true" role="tab">
                    <h4>{{service.name}}</h4>
                  </a>
                  {%else%}
                  <a class="nav-link " data-bs-toggle="tab" data-bs-target="#features-tab-{{service.id}}"
                    aria-selected="true" role="tab">
                    <h4>{{service.name}}</h4>
                  </a>
                  {%endif%}
                </div>
                {% endfor %}

                <!-- <div class="nav-item" role="presentation">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2" aria-selected="true"
                    role="tab">
                    <h4>Software Development</h4>
                  </a>
                </div>
                <div class="nav-item" role="presentation">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2" aria-selected="true"
                    role="tab">
                    <h4>Software Development</h4>
                  </a>
                </div>
                <div class="nav-item" role="presentation">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2" aria-selected="true"
                    role="tab">
                    <h4>Software Development</h4>
                  </a>
                </div> -->

              </ul>
            </div>

            <h4>Enim qui eos rerum in delectus</h4>
            <p>Nam voluptatem quasi numquam quas fugiat ex temporibus quo est. Quia aut quam quod facere ut non
              occaecati ut aut. Nesciunt mollitia illum tempore corrupti sed eum reiciendis. Maxime modi rerum.</p>
          </div>

          <div class="col-lg-8 tab-content" data-aos="fade-up" data-aos-delay="200">
            {% for service in services %}
            {% if service == services.first %}
            <div class="tab-pane active show" id="features-tab-{{service.id}}" role="tabpanel">
              <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
              <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>

              {{service.description|safe}}
            </div>
            {%else%}
            <div class="tab-pane" id="features-tab-{{service.id}}" role="tabpanel">
              <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
              <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>

              {{service.description|safe}}
            </div>
            {%endif%}
            {%endfor%}

            <!-- <div class="tab-pane" id="features-tab-2" role="tabpanel">
              <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
              <h3>jii et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>
              <p>
                Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque
                consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero.
                Qui
                omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span>
                </li>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
              </ul>
              <p>
                Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste
                veniam repellat odit. Aut pariatur itaque nesciunt fuga.
              </p>
              <p>
                Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia
                doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus
                eveniet
                velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur
                nostrum.
                Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto
                ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
              </p>
            </div> -->

          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>
</body>
{% endblock content %}

</html>